<section class="full-page" id="aboutMe" class="scrollable section">
    <div class="aboutMe overlay-container" style="overflow: hidden;" tabindex="5001">
        <!-- Intro Section -->
        <div class="aboutMe-intro-section" id="s1">
            <div class="overlay">
                <div class="kayo-container">
                    <div class="section-intro">
                        <div class="text-center kayo-icon-box-container">
                            <div class="kayo-icon-box">
                                <span class="glyphicon glyphicon-user kayo-icon"></span>
                            </div>
                        </div>
                        <h1 class="text-center" [translate]="'about.title'">
                            ABOUT ME
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start know Me -->
        <div class="my-information" id="s2">
            <div class="kayo-container">
                <div class="mrkayo-main-title">
                    <h2>
                        <span class="kayo-line" [translate]="'about.knowme.title'"></span>
                    </h2>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="my-image">
                            <img src="../../assets/img/my-image.jpg" class="img-responsive" alt="">
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="kayo-info-detail">
                            <h3 [translate]="'about.knowme.hello'">HELLO,</h3>
                            <p [translate]="'about.knowme.pesentation'">
                                I’m Simão PEDRO. I designed this site so you can get to know me on a personal
                                level. My career as a Network Designer, some articles, my personal projects, my
                                blog, my favorite quotes, and so much more. So please sit back and enjoy!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start My Service -->
        <div class="kayo-service" id="s3">
            <div class="overlay">
                <div class="kayo-container">
                    <div class="mrkayo-main-title">
                        <h2>
                            <span class="kayo-line" [translate]="'about.service.title'"></span>
                        </h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-sm-6">
                            <div class="kayo-icon-list-box">
                                <div class="kayo-icon-box-container">
                                    <div class="kayo-icon-box">
                                        <span class="pe-7s-monitor kayo-icon"></span>
                                    </div>
                                </div>
                                <div class="kayo-list-info">
                                    <h4 [translate]="'about.service.webdevelop.title'">Web Develop</h4>
                                    <p [translate]="'about.service.webdevelop.content'">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="kayo-icon-list-box">
                                <div class="kayo-icon-box-container">
                                    <div class="kayo-icon-box">
                                        <span class="pe-7s-phone kayo-icon"></span>
                                    </div>
                                </div>
                                <div class="kayo-list-info">
                                    <h4 [translate]="'about.service.mobileapp.title'">Mobile Aplications</h4>
                                    <p [translate]="'about.service.mobileapp.content'">
                                        Cross-platform Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="kayo-icon-list-box">
                                <div class="kayo-icon-box-container">
                                    <div class="kayo-icon-box">
                                        <span class="pe-7s-server kayo-icon"></span>
                                    </div>
                                </div>
                                <div class="kayo-list-info">
                                    <h4 [translate]="'about.service.dbdesign.title'">DB Design</h4>
                                    <p [translate]="'about.service.dbdesign.content'">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="kayo-icon-list-box">
                                <div class="kayo-icon-box-container">
                                    <div class="kayo-icon-box">
                                        <span class="pe-7s-network kayo-icon"></span>
                                    </div>
                                </div>
                                <div class="kayo-list-info">
                                    <h4 [translate]="'about.service.networks.title'">Networks</h4>
                                    <p [translate]="'about.service.networks.content'">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Me Clients -->
        <!-- <div class="my-clients-logo" id="s4">
            <div class="kayo-container">
                <div class="mrkayo-main-title">
                    <h2>
                        My Clients
                        <span class="kayo-line"></span>
                    </h2>
                </div>
                <div class="clients-slider slick-initialized slick-slider">
                    <div aria-live="polite" class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 2736px; transform: translate3d(-855px, 0px, 0px);" role="listbox"><div class="client-logo slick-slide slick-cloned" data-slick-index="-5" aria-hidden="true" style="width: 141px;" tabindex="-1">
                        <a href="#" target="_blank" tabindex="-1">
                            <img src="Mr%20Kayo_fichiers/client_2.png" alt="">
                        </a>
                    </div><div class="client-logo slick-slide slick-cloned" data-slick-index="-4" aria-hidden="true" style="width: 141px;" tabindex="-1">
                        <a href="#" target="_blank" tabindex="-1">
                            <img src="Mr%20Kayo_fichiers/client_3.png" alt="">
                        </a>
                    </div><div class="client-logo slick-slide slick-cloned" data-slick-index="-3" aria-hidden="true" style="width: 141px;" tabindex="-1">
                        <a href="#" target="_blank" tabindex="-1">
                            <img src="Mr%20Kayo_fichiers/client_4.png" alt="">
                        </a>
                    </div><div class="client-logo slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true" style="width: 141px;" tabindex="-1">
                        <a href="#" target="_blank" tabindex="-1">
                            <img src="Mr%20Kayo_fichiers/client_5.png" alt="">
                        </a>
                    </div><div class="client-logo slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 141px;" tabindex="-1">
                        <a href="#" target="_blank" tabindex="-1">
                            <img src="Mr%20Kayo_fichiers/client_6.png" alt="">
                        </a>
                    </div><div class="client-logo slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 141px;" tabindex="-1" role="option" aria-describedby="slick-slide10">
                        <a href="#" target="_blank" tabindex="0">
                            <img src="Mr%20Kayo_fichiers/client_1.png" alt="">
                        </a>
                    </div><div class="client-logo slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 141px;" tabindex="-1" role="option" aria-describedby="slick-slide11">
                        <a href="#" target="_blank" tabindex="0">
                            <img src="Mr%20Kayo_fichiers/client_2.png" alt="">
                        </a>
                    </div><div class="client-logo slick-slide slick-active" data-slick-index="2" aria-hidden="false" style="width: 141px;" tabindex="-1" role="option" aria-describedby="slick-slide12">
                        <a href="#" target="_blank" tabindex="0">
                            <img src="Mr%20Kayo_fichiers/client_3.png" alt="">
                        </a>
                    </div><div class="client-logo slick-slide slick-active" data-slick-index="3" aria-hidden="false" style="width: 141px;" tabindex="-1" role="option" aria-describedby="slick-slide13">
                        <a href="#" target="_blank" tabindex="0">
                            <img src="Mr%20Kayo_fichiers/client_4.png" alt="">
                        </a>
                    </div><div class="client-logo slick-slide slick-active" data-slick-index="4" aria-hidden="false" style="width: 141px;" tabindex="-1" role="option" aria-describedby="slick-slide14">
                        <a href="#" target="_blank" tabindex="0">
                            <img src="Mr%20Kayo_fichiers/client_5.png" alt="">
                        </a>
                    </div><div class="client-logo slick-slide" data-slick-index="5" aria-hidden="true" style="width: 141px;" tabindex="-1" role="option" aria-describedby="slick-slide15">
                        <a href="#" target="_blank" tabindex="-1">
                            <img src="Mr%20Kayo_fichiers/client_6.png" alt="">
                        </a>
                    </div><div class="client-logo slick-slide slick-cloned" data-slick-index="6" aria-hidden="true" style="width: 141px;" tabindex="-1">
                        <a href="#" target="_blank" tabindex="-1">
                            <img src="Mr%20Kayo_fichiers/client_1.png" alt="">
                        </a>
                    </div><div class="client-logo slick-slide slick-cloned" data-slick-index="7" aria-hidden="true" style="width: 141px;" tabindex="-1">
                        <a href="#" target="_blank" tabindex="-1">
                            <img src="Mr%20Kayo_fichiers/client_2.png" alt="">
                        </a>
                    </div><div class="client-logo slick-slide slick-cloned" data-slick-index="8" aria-hidden="true" style="width: 141px;" tabindex="-1">
                        <a href="#" target="_blank" tabindex="-1">
                            <img src="Mr%20Kayo_fichiers/client_3.png" alt="">
                        </a>
                    </div><div class="client-logo slick-slide slick-cloned" data-slick-index="9" aria-hidden="true" style="width: 141px;" tabindex="-1">
                        <a href="#" target="_blank" tabindex="-1">
                            <img src="Mr%20Kayo_fichiers/client_4.png" alt="">
                        </a>
                    </div><div class="client-logo slick-slide slick-cloned" data-slick-index="10" aria-hidden="true" style="width: 141px;" tabindex="-1">
                        <a href="#" target="_blank" tabindex="-1">
                            <img src="Mr%20Kayo_fichiers/client_5.png" alt="">
                        </a>
                    </div></div></div>
                    
                </div>
            </div>
        </div> -->
        <!-- Start Facts About Me -->
        <div class="kayo-facts-about-me" id="s5">
            <div class="kayo-container overlay">
                <div class="mrkayo-main-title">
                    <h2>
                        <span class="kayo-line" [translate]="'about.awesomefacts.title'"></span>
                    </h2>
                </div>
                <div class="kayo-info-list" style="">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6">
                            <div class="single-info">
                                <p class="info-icon">
                                    <i class="pe-7s-display1"></i>
                                    <span class="facts-numbers" data-from="20" data-to="500" data-speed="1100">40</span>
                                </p>
                                <h3 [translate]="'about.awesomefacts.projects'"> Projects </h3>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="single-info">
                                <p class="info-icon">
                                    <i class="pe-7s-alarm"></i>
                                    <span class="facts-numbers" data-from="70" data-to="750" data-speed="1100">1540</span>
                                </p>
                                <h3 [translate]="'about.awesomefacts.workhours'"> Work Hours </h3>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="single-info">
                                <p class="info-icon">
                                    <i class="pe-7s-headphones"></i>
                                    <span class="facts-numbers" data-from="30" data-to="150" data-speed="1100">100</span>
                                </p>
                                <h3 [translate]="'about.awesomefacts.customersupport'"> Customer SUPPORT </h3>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="single-info">
                                <p class="info-icon">
                                    <i class="pe-7s-smile"></i>
                                    <span class="facts-numbers" data-from="100" data-to="820" data-speed="1100">85</span>
                                </p>
                                <h3 [translate]="'about.awesomefacts.happyclients'"> Happy Clients </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>