
/* The CSS */
select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    margin:10px;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {
    padding-right:18px;margin:10px;
    }
}

ul .navbar-nav li {position:relative}
ul .navbar-nav li:after {
    content:'<>';
    font:11px "Consolas", monospace;
    color:#aaa;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:2px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}
ul .navbar-nav li:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
}

html.avgrund-ready body app-root div.perspective.container.effect-rotate-left div.container div#viewport.l-viewport div.l-wrapper ul.l-main-content li.l-section.setion.sectionIsActive div.work app-resume section#resume.scrollable.section div.resume.overlay-container div.kayo-container.education-workHistory div.row div.col-sm-6 div.kayo-education div.timeline-content div.timeline-box div.timeline-info div.timeline-info-details p{
    text-align: justify !important;
    text-justify: inter-word !important;
}

