<!-- Start Resume
    ===================================-->
    <section class="full-page" id="resume" class="scrollable section">
        <div class="resume overlay-container" style="overflow: hidden;" tabindex="5003">
            <div class="resume-intro-section">
                <div class="overlay">
                    <div class="kayo-container">
                        <div class="section-intro">
                            <div class="text-center kayo-icon-box-container">
                                <div class="kayo-icon-box">
                                    <span class="glyphicon glyphicon-leaf kayo-icon"></span>
                                </div>
                            </div>
                            <h1 class="text-center" [translate]="'resume.title'">
                                RESUME
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kayo-container education-workHistory">
                <div class="mrkayo-main-title">
                    <h2>
                        <span class="kayo-line" [translate]="'resume.myexperience.title'">My Experience</span>
                    </h2>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="kayo-education">
                            <h3 class="timeline-title">
                                <i class="pe-7s-study"></i> <span [translate]="'resume.myexperience.education.title'">Education</span>
                            </h3>
                            <div class="timeline-content">
                                <div class="timeline-box">
                                    <div class="timeline-date">
                                        2013 {{ 'months.sep' | translate }} - 2015 {{ 'months.jun' | translate }}
                                    </div>
                                    <div class="timeline-info">
                                        <div class="timeline-info-header">
                                            <h3 [translate]="'resume.myexperience.education.first.title'">University Institute of Technology</h3>
                                            <p [translate]="'resume.myexperience.education.first.subtitle'">University Diploma Of Technology, Network and Telecommunications</p>
                                            <span [translate]="'resume.myexperience.education.first.place'">Belfort-Montbéliard</span>
                                        </div>
                                        <div class="timeline-info-details">
                                            <p [translate]="'resume.myexperience.education.first.content'">
                                                Network and telecommunications occupations include the understanding, installation, administration and maintenance of computer networks and telecommunications networks.
                                                The graduate of this DUT can practice in all organizations using the new technologies of information and communication (NICT). He masters the technologies found in local business networks (wired and wireless), long distance and internet telecommunications networks, multimedia access networks (fixed and mobile), corporate communication systems (videoconferencing. ..).
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline-box">
                                    <div class="timeline-date">
                                        2015 {{ 'months.sep' | translate }} - 2018 {{ 'months.jun' | translate }}
                                    </div>
                                    <div class="timeline-info">
                                        <div class="timeline-info-header">
                                            <h3 [translate]="'resume.myexperience.education.second.title'">Higher Institute of Electronics of Paris</h3>
                                            <p [translate]="'resume.myexperience.education.second.subtitle'">Engineering Degree, Computer Science</p>
                                            <span [translate]="'resume.myexperience.education.second.place'">Paris</span>
                                        </div>
                                        <div class="timeline-info-details">
                                            <p [translate]="'resume.myexperience.education.second.content'">
                                            As a software engineer I have expertise that 
                                            allows me to intervene as a specialist in 
                                            different environments, either at the design level 
                                            or at the software implementation level.
                                            I have a global vision, going beyond the 
                                            technical framework but of which it forms 
                                            the base, which allows him to be the referent in 
                                            terms of technical choices. In addition, 
                                            my managerial skills allow me to quickly take 
                                            responsibility for project management.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="kayo-experience">
                            <h3 class="timeline-title">
                                <i class="pe-7s-ribbon">
                                </i> <span [translate]="'resume.myexperience.workhistory.title'">Work History</span>
                            </h3>
                            <div class="timeline-content">
                                <div class="timeline-box">
                                    <div class="timeline-date">
                                        {{ 'months.jul' | translate }} 2016-{{ 'months.dec' | translate }} 2016
                                    </div>
                                    <div class="timeline-info">
                                        <div class="timeline-info-header">
                                            <h3 [translate]="'resume.myexperience.workhistory.first.title'">Magillem design Services</h3>
                                            <p [translate]="'resume.myexperience.workhistory.first.subject'">Web Developer, spring framework</p>
                                            <span [translate]="'resume.myexperience.workhistory.first.place'">Paris</span>
                                        </div>
                                        <div class="timeline-info-details">
                                            <p [translate]="'resume.myexperience.workhistory.first.content'">
                                                Magillem is a Leading Provider of 
                                                Complex Design Flow and Content 
                                                Management Software Solutions.
                                                Ecodex (e-Justice Communication via Online Data Exchange), is a european project that aims to improve the cross-border access of citizens and businesses to legal means in Europe, as well as to improve the interoperability between judicial authorities within of the EU. Functionality that provides an easier (digital) way to exchange legal information between EU countries.
                                                My role in this project was the development and design of forms views in java / 2jee, this involves modeling, unit testing and optimization of interface development methods.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline-box">
                                    <div class="timeline-date">
                                        {{ 'months.since' | translate }} {{ 'months.feb' | translate }} 2018
                                    </div>
                                    <div class="timeline-info">
                                        <div class="timeline-info-header">
                                            <h3 [translate]="'resume.myexperience.workhistory.second.title'">Cirruseo</h3>
                                            <p [translate]="'resume.myexperience.workhistory.second.subject'">Python Developer</p>
                                            <span [translate]="'resume.myexperience.workhistory.second.place'">Paris</span>
                                        </div>
                                        <div class="timeline-info-details">
                                            <p [translate]="'resume.myexperience.workhistory.second.content'">
                                                Cirruseo is the leading independent partner of Google Cloud in France, has developed its skills and partnerships around the major players in this market as Google, as well as more specialized players like Freshworks, Powertools for Google Drive, etc.
                                                Cirruseo's service offerings range from consulting, cloud trajectory definition, to BI and implementation of targeted solutions.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="take-my-resume">
                    <a href="../assets/files/cv.pdf" target="_self" class="kayo-btn-1" download><span class="glyphicon glyphicon-cloud-download"></span> Take My Resume</a>
                </div>
            </div>
            <div class="kayo-skills">
                <div class="overlay">
                    <div class="kayo-container">
                        <div class="soft-skills" style="">
                            <div class="mrkayo-main-title">
                                <h2>
                                    <span class="kayo-line" [translate]="'resume.softskills.title'">Soft Skills</span>
                                </h2>
                            </div>
                            <div class="row">
                                <div class="col-sm-3" *ngFor="let skill of skillsTitles;let i = index">
                                    <div class="progress-container">
                                        <div class="progressName" id="pro{{i+1}}" style="position: relative;">
                                            <app-progress [value]="progress[i] | async"></app-progress>
                                        </div>
                                        <h3>{{skill | translate }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="technical-skills" style="">
                            <div class="mrkayo-main-title">
                                <h2>
                                    <span class="kayo-line" [translate]="'resume.technicalskills.title'">Technical Skills</span>
                                </h2>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="progress-bar-container primary-style" *ngFor="let skillTech1 of skillsTitlesTechnical[0];let j = index">
                                        <span class="timer" [ngStyle]="{'left':'calc(-20px + '+(progressTechnical[j] | async)+'%'+')'}">{{progressTechnical[j] | async}}%</span>
                                        <div class="progress">
                                            <div class="progress-bar active" role="progressbar" [ngStyle]="{'width.%':progressTechnical[j] | async}"></div>
                                        </div>
                                        <h3>{{ skillTech1 | translate }}</h3><a role="button" href="#graph"   class="btn btn-primary btn-sm" (click)="showStats(j+1)">{{ 'resume.technicalskills.detail' | translate }}</a>
                                    </div>
                                </div> <!-- end the col -->
                                <div class="col-sm-6">
                                    <div class="progress-bar-container primary-style" *ngFor="let skillTech of skillsTitlesTechnical[1];let i = index">
                                        <span class="timer" [ngStyle]="{'left':'calc(-20px + '+(progressTechnical[i+2] | async)+'%'+')'}">{{progressTechnical[i+2] | async}}%</span>
                                        <div class="progress">
                                            <div class="progress-bar active" role="progressbar" [ngStyle]="{'width.%':progressTechnical[i+2] | async}"></div>
                                        </div>
                                        <h3>{{ skillTech | translate }}</h3><a role="button" href="#graph"   class="btn btn-primary btn-sm" (click)="showStats(i+3)">{{ 'resume.technicalskills.detail' | translate }}</a>
                                    </div>
                                </div> <!-- end the col -->
                            </div>
                        </div>
                        <!-- start chart -->
                        <div class="technical-skills" [ngStyle]="stylesGraph">
                            <div class="mrkayo-main-title">
                                <h2>
                                    <span class="kayo-line" [translate]="'resume.technicalskills.title'">More ditails Skills</span>
                                </h2>
                            </div>
                            <ngx-charts-pie-chart id="graph"
                                [legendTitle]="legendTitle"
                                [scheme]="colorScheme"
                                [results]="singleCall()"
                                [legend]="getboolLeg()"
                                [explodeSlices]="explodeSlices"
                                [labels]="showLabels"
                                [doughnut]="doughnut"
                                [view]="returnSize()"
                                (select)="onSelect($event)">
                                <!-- remove class="row" for small screens -->
                            </ngx-charts-pie-chart>
                        </div>
                        <!-- end chart -->

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Skills ===================-->
